<!DOCTYPE html>
{% load static %}
<xml:html>
    <head>
        <!-- Carousel -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="static/images/querido_cuerpo_long.png"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="static/images/cuerpo.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="static/images/mente.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
          </div>

        <br>

        {% block head %}
        <title>Mockups Socorrito</title>
        {% endblock head %}

        <!-- Font Awesome -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        rel="stylesheet"
        />
        <!-- Google Fonts -->
        <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        rel="stylesheet"
        />
        <!-- MDB -->
        <link
        href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css"
        rel="stylesheet"
        />
    </head>
    <body>
        {% block content %}

        {% endblock content %}

        <!-- MDB -->
        <script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
        ></script>
    </body>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/Queridocuerpomx" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/queridocuerpomx/" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #0a4275;">
          © 2020 Copyright:
          <a class="text-white" href="/">queridocuerpo.com</a>
        </div>
        <!-- Copyright -->
    </footer>

    {% block script %}

    {% endblock script %}
</html>