{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administración de miembros</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
              <div>
                <img
                  src="{% static 'images/queridocuerpo_pro_logo.png' %}"
                  class="img-fluid"
                  alt="..."
                />
              </div>
              <div class="sidebar-brand-text mx-3">Querido Cuerpo</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <button class="btn btn-secondary">Registro</button>
            <button class="btn btn-secondary">Miembros</button>
            <a href="/pro" class="btn btn-secondary">Cerrar Sesión</a>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - ¿Dónde estoy? -->
                        <li class="nav-item no-arrow">
                            <h6>Sitio administrativo</h6>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800">Administración de miembros</h1>
                  </div>

                  <!-- Tabs :D -->
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="registro-tab" data-toggle="tab" href="#registro" role="tab" aria-controls="registro" aria-selected="true">Registro</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="miembros-tab" data-toggle="tab" href="#miembros" role="tab" aria-controls="miembros" aria-selected="false">Miembros</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">

                    <!-- Tab Registro -->
                    <div class="tab-pane fade show active" id="registro" role="tabpanel" aria-labelledby="registro-tab">
                      <!-- Registro miembro Chart -->
                      <div class="card shadow mb-4">
                          <!-- Card Header - Dropdown -->
                          <div
                              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                              <h6 class="m-0 font-weight-bold text-primary">Registrar nuevo miembro</h6>
                          </div>
                          <!-- Card Body -->
                          <div class="card-body">
                            <form>
                              <!-- Info del plan -->
                              <hr>
                              <h6 class="font-weight-bold">Información del plan</h6>
                              <hr>
                              <select class="custom-select mb-3">
                                <option selected>Plan</option>
                                <option value="1">Me Amo</option>
                                <option value="2">Cambiando el Chip</option>
                                <option value="3">Creando Habitos</option>
                                <option value="3">Cuidémonos</option>
                              </select>
                              <div class="mb-3">
                                <label for="userInput" class="form-label">Costo</label>
                                <input disabled type="number" class="form-control" id="userInput">
                              </div>
                              <div class="mb-3">
                                <label for="userInput" class="form-label">Fecha de inicio</label>
                                <input type="date" class="form-control" id="userInput">
                              </div>
                              <div class="mb-3">
                                <label for="userInput" class="form-label">Fecha de finalización</label>
                                <input disabled type="date" class="form-control" id="userInput">
                              </div>
                              <div class="mb-3">
                                <h6>Asignar profesionales</h6>
                                <div class="row">
                                  <div class="col">
                                    <select class="custom-select mb-2">
                                      <option selected>Psicólog@</option>
                                      <option value="1">Ere Rojas</option>
                                    </select>
                                  </div>
                                  <div class="col">
                                    <select class="custom-select mb-2">
                                      <option selected>Nutriólog@</option>
                                      <option value="1">Mireya Padrón</option>
                                    </select>
                                  </div>
                                  <div class="col">
                                    <select class="custom-select mb-2">
                                      <option selected>Entrenador@</option>
                                      <option value="1">Ere Rojas</option>
                                    </select>
                                  </div>
                                </div>
                              </div>
                              <!-- Info del miembro -->
                              <hr>
                              <h6 class="font-weight-bold">Información del miembro</h6>
                              <hr>
                              <div class="mb-3">
                                <label for="nombreInput" class="form-label">Nombre completo</label>
                                <input type="text" class="form-control" id="nombreInput">
                              </div>
                              <div class="mb-3">
                                <label for="telInput" class="form-label">Teléfono celular</label>
                                <input type="tel" class="form-control" id="telInput">
                              </div>
                              <div class="mb-3">
                                <label for="fechaInput" class="form-label">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="fechaInput">
                              </div>
                              <div class="mb-3">
                                <label for="pesoInput" class="form-label">Peso (kg)</label>
                                <input type="number" class="form-control" id="pesoInput">
                              </div>
                              <div class="mb-3">
                                <label for="estaturaInput" class="form-label">Estatura (cm)</label>
                                <input type="number" class="form-control" id="estaturaInput">
                              </div>
                              <div class="mb-3">
                                <h6>Tipo de alimentación</h6>
                                <select class="custom-select mb-2">
                                  <option selected>Tipo de alimentación</option>
                                  <option value="1">Omnivoro</option>
                                  <option value="1">Vengano</option>
                                  <option value="1">Vegetariano</option>
                                  <option value="1">No lactosa</option>
                                  <option value="1">Diabetico</option>
                                </select>
                              </div>
                              <div class="mb-3">
                                <label for="caloricaInput" class="form-label">Ingesta calórica diaria (kcal)</label>
                                <input type="number" class="form-control" id="caloricaInput">
                              </div>
                              <!-- Objetivos -->
                              <hr>
                              <h6 class="font-weight-bold">Objetivos del miembro</h6>
                              <hr>
                              <div class="mb-2">
                                <label for="objNutriInput" class="form-label">Objetivo de nutrición</label>
                                <textarea class="form-control" id="objNutriInput"></textarea>
                              </div>
                              <div class="mb-2">
                                <label for="objEntreInput" class="form-label">Objetivo de entrenamiento</label>
                                <textarea class="form-control" id="objEntreInput"></textarea>
                              </div>
                              <div class="mb-2">
                                <label for="objPsiInput" class="form-label">Objetivo de mejora personal</label>
                                <textarea class="form-control" id="objPsiInput"></textarea>
                              </div>
                              <!-- Info de la cuenta -->
                              <hr>
                              <h6 class="font-weight-bold">Información la cuenta</h6>
                              <hr>
                              <div class="mb-2">
                                <label for="userInput" class="form-label">Nombre de usuario</label>
                                <input type="text" class="form-control" id="userInput">
                              </div>
                              <div class="mb-2">
                                <label for="emailInput" class="form-label">e-mail</label>
                                <input type="email" class="form-control" id="emailInput">
                              </div>
                              <div class="mb-2">
                                <label for="passwordInput" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="passwordInput">
                              </div>
                              <div class="mb-2">
                                <label for="password2Input" class="form-label">Confimar contraseña</label>
                                <input type="password" class="form-control" id="password2Input">
                              </div>
                              <hr>                                    
                              <hr>
                              <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                            </form>
                          </div>
                        </div>
                      </div>

                      <!-- Tab Miembros-->
                      <div class="tab-pane fade" id="miembros" role="tabpanel" aria-labelledby="miembros-tab">
                          <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-primary">Miembros</h6>
                                  <div class="dropdown no-arrow">
                                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                          aria-labelledby="dropdownMenuLink">
                                          <div class="dropdown-header">Filtrar</div>
                                          <a class="dropdown-item" href="">Nuevos</a>
                                          <a class="dropdown-item" href="">Vencidos</a>
                                          <a class="dropdown-item" href="">Todos</a>
                                      </div>
                                  </div>
                              </div>
                              <!-- Card Body -->
                              <div class="card-body table-responsive">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Plan</th>
                                        <th scope="col">Vencimiento</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>Tobias</td>
                                        <td>Me Cuido</td>
                                        <td>20/05/2021</td>
                                        <td><button class="btn btn-primary">Ver perfil completo</button></td>
                                      </tr>
                                      <tr>
                                        <td>Richard</td>
                                        <td>Me Cuido</td>
                                        <td>22/06/2021</td>
                                        <td><button class="btn btn-primary">Ver perfil completo</button></td>
                                      </tr>
                                      <tr>
                                        <td>Catterine</td>
                                        <td>Me Cuido</td>
                                        <td>25/05/2021</td>
                                        <td><button class="btn btn-primary">Ver perfil completo</button></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div class="mt-4 text-center small">
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-primary"></i>
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-success"></i>
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-info"></i>
                                      </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Querido Cuerpo 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Deseas cerrar sesión?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona una opción.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="/pro">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
