{% extends 'queridocuerpo_pro/base.html' %}
{% load static %}

{% block head %}
<title>Querido Cuerpo</title>
{% endblock head %}

{% block header %}
<div class="container gy-5">
    <div class="row p-3"></div>
    <div class="row p-3">
        
        <div class="col">
            <div class="d-flex justify-content-center align-items-center h-100 p-10 mt-5">
                <img
                src="{% static 'images/queridocuerpo_pro_logobw.png' %}"
                loading="lazy"
                class="img-fluid"
                />
            </div>
        </div>
        
    </div>
    <div class="row p-3"></div>
</div>
      
{% endblock header %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col p-4">
            <div>
                <div class="card-body">
                    <div class="container">    
                        <div class="row g-0">
                            <div class="col-md">
                                <div class="p-1">
                                    <div class="form-outline">
                                        <i class="fas fa-user-alt trailing"></i>
                                        <input required type="text" id="formWhite" class="form-control" />
                                        <label class="form-label" for="formWhite">Usuario</label>
                                      </div>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="p-1">
                                    <div class="form-outline">
                                        <i class="fas fa-key trailing"></i>
                                        <input required type="text" id="form1" class="form-control" />
                                        <label class="form-label" for="form1">Contraseña</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="p-1">
                                    <div class="d-grid gap-2">
                                        <a href="resumen-usuario" class="btn btn-outline" data-mdb-ripple-color="dark">
                                            Ingresar <i class="fas fa-sign-in-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
              </div>
            <br>
        </div>
    </div>
</div>

{% endblock content %}
