                                <div class="card-body table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Nombre</th>
                                          <th scope="col">Plan</th>
                                          <th scope="col">Vencimiento</th>
                                          <th scope="col">Citas disponibles</th>
                                          <th scope="col">Plan alimenticio</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>Tobias</td>
                                          <td>Me Cuido</td>
                                          <td>20/05/2021</td>
                                          <td>2</td>
                                          <td><button class="btn btn-primary">Ver plan alimenticio</button></td>
                                        </tr>
                                        <tr>
                                          <td>Richard</td>
                                          <td>Me Cuido</td>
                                          <td>22/06/2021</td>
                                          <td>3</td>
                                          <td><button class="btn btn-primary">Ver plan alimenticio</button></td>
                                        </tr>
