{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
<title>Querido Cuerpo</title>
{% endblock head %}

{% block header %}

    {% include 'navbar.html' %}
      
{% endblock header %}

{% block content %}
<div class="container-fluid gy-5 mb-5">
    <br>
    <!--btn mi día-->
    <div class="d-flex justify-content-center">
        <div class="row p-3">
            <div class="col p1">
                <button type="button" class="btn btn-lg btn-light btn-rounded" data-mdb-ripple-color="dark">
                    Mi día
                </button>
            </div>
        </div>
    </div>

    <!--tarjeta ánimo-->
    <div class="row p-4">
        <div class="card text-white bg-info" onclick="lanzaModal('modalAnimo')" style="cursor: pointer;">
            <div class="card-header mt-2">
                    <h5 class="card-title">
                        <i class="far fa-laugh-beam"></i>
                        Ánimo
                    </h5>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <img
                    class="mt-4"
                    src="static/images/confused.png"
                    height="100"
                    alt=""
                    loading="lazy"
                    />
                    <div class="container mt-4">
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-end">
                                    <h1 style="font-size:6vw;" class="display-5">Confundid@</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="d-flex justify-content-end">
                                    <h1 style="font-size:5vw;" class="display-5">80/100</h1>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <p class="lead mb-1">
                                    <small>
                                        Editar
                                    </small>
                                </p>
                                <i class="fas fa-edit p-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!--tarjeta alimentación-->
    <div class="row p-4">
        <div class="card text-white bg-info" onclick="redireccionaAlimentacion()" style="cursor: pointer;">
            <div class="card-header mt-2">
                <h5 class="card-title">
                    <i class="fas fa-carrot"></i>
                    Álimentación
                </h5>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="container">
                        <div class="row">
                            <div class="d-flex justify-content-start">
                                <div class="form-check p-2">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="flexCheckCheckedDisabled"
                                    checked
                                    disabled
                                    />
                                </div>
                                <p class="lead mb-1">
                                    <small>
                                        Desayuno
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-start">
                                <div class="form-check p-2">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="flexCheckCheckedDisabled"
                                    disabled
                                    />
                                </div>
                                <p class="lead mb-1">
                                    <small>
                                        Almuerzo
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-start">
                                <div class="form-check p-2">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="flexCheckCheckedDisabled"
                                    disabled
                                    />
                                </div>
                                <p class="lead mb-1">
                                    <small>
                                        Comida
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-start">
                                <div class="form-check p-2">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="flexCheckCheckedDisabled"
                                    disabled
                                    />
                                </div>
                                <p class="lead mb-1">
                                    <small>
                                        Merienda
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-start">
                                <div class="form-check p-2">
                                    <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="flexCheckCheckedDisabled"
                                    disabled
                                    />
                                </div>
                                <p class="lead mb-1">
                                    <small>
                                        Cena
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="container d-flex align-items-end justify-content-end">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <p class="lead mb-1">
                                    <small>
                                        Ver plan alimenticio
                                    </small>
                                </p>
                                <i class="fas fa-utensils p-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--tarjeta hidratación-->
    <div class="row p-4">
        <div class="card text-white bg-info" onclick="lanzaModal('modalHidratacion')" style="cursor: pointer;">
            <div class="card-header mt-2">
                <h5 class="card-title">
                    <i class="fas fa-tint"></i>
                    Hidratación
                </h5>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <h5>Total de hoy: 1350ml</h5>
                    </div>
                    <div class="d-flex justify-content-center row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                                1 Ánfora
                                <span class="badge bg-primary rounded-pill">600ml</span>
                                </li>
                                <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
                                2 Vasos
                                <span class="badge bg-primary rounded-pill">500ml</span>
                                </li>
                                <li class="list-group-item d-flex list-group-item-info justify-content-between align-items-center">
                                1 Vaso
                                <span class="badge bg-primary rounded-pill">250ml</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col d-flex justify-content-end">
                            <p class="lead mb-1">
                                <small>
                                    Editar
                                </small>
                            </p>
                            <i class="fas fa-edit p-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--tarjeta strava-->
    <div class="row p-4">
        <div class="card text-white bg-info">
            <div class="card-header mt-2">
                <h5 class="card-title">
                    <i class="fas fa-biking"></i>
                    Ejercicio
                </h5>
            </div>
            <div class="card-body g-0 gy-0">
                <div class="row p-1">
                    <div class="d-flex justify-content-between">
                        <h1 style="font-size:6vw;" class="display-5">tus actividades</h1>
                        <img
                        src="static/images/strava-logo.png"
                        height="20"
                        alt=""
                        loading="lazy"
                        />
                    </div>
                </div>
                <div class="row p-1">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">nombre</th>
                                        <th scope="col">fecha y hora</th>
                                        <th scope="col">tipo</th>
                                        <th scope="col">distancia</th>
                                        <th scope="col">tiempo en movimiento</th>
                                        <th scope="col">tiempo total</th>
                                        <th scope="col">elevación ganada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tupla in strava_data %}
                                    <tr>
                                        {% for el in tupla %}
                                        <td>{{ el }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                {% comment %}
                <div class="d-flex justify-content-center">
                    <div class="frame-container">
                        <iframe 
                        class="responsive-iframe" 
                        src='https://www.strava.com/athletes/20319137/latest-rides/3d911a0419e2c0b8e3955aa4543a9d7918dbbc95'>
                        </iframe>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
    </div>

    <!--btn últimos 7 días-->
    <div class="d-flex justify-content-center">
        <div class="row p-3">
            <div class="col p1">
                <button type="button" class="btn btn-outline-light btn-rounded" data-mdb-ripple-color="dark">
                    Últimos 7 días
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ánimo-->
<div
  class="modal fade"
  id="modalAnimo"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mi estado de ánimo</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success list-group-item-action" style="cursor: pointer;">
                <div class="d-flex align-items-center justify-content-between">
                    <img
                    class="ms-3"
                    src="static/images/happy.png"
                    height="40"
                    alt=""
                    loading="lazy"
                    />
                    <h1 class="display-5 me-3">Content@</h1>
                </div>
            </li>
            <li class="list-group-item list-group-item-info list-group-item-action" style="cursor: pointer;">
                <div class="d-flex align-items-center justify-content-between">
                    <img
                    class="ms-3"
                    src="static/images/relaxed.png"
                    height="50"
                    alt=""
                    loading="lazy"
                    />
                    <h1 class="display-5 me-3">Relajad@</h1>
                </div>
            </li>
            <li class="list-group-item list-group-item-secondary list-group-item-action" style="cursor: pointer;">
                <div class="d-flex align-items-center justify-content-between">
                    <img
                    class="ms-3"
                    src="static/images/confused.png"
                    height="40"
                    alt=""
                    loading="lazy"
                    />
                    <h1 class="display-5 me-3">Confundid@</h1>
                </div>
            </li>
            <li class="list-group-item list-group-item-warning list-group-item-action" style="cursor: pointer;">
                <div class="d-flex align-items-center justify-content-between">
                    <img
                    class="ms-3"
                    src="static/images/shocked.png"
                    height="40"
                    alt=""
                    loading="lazy"
                    />
                    <h1 class="display-5 me-3">Sorprendid@</h1>
                </div>
            </li>
            <li class="list-group-item list-group-item-dark list-group-item-action" style="cursor: pointer;">
                <div class="d-flex align-items-center justify-content-between">
                    <img
                    class="ms-3"
                    src="static/images/sad.png"
                    height="50"
                    alt=""
                    loading="lazy"
                    />
                    <h1 class="display-5 me-3">Tristón/@</h1>
                </div>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Alimentación-->
<div
  class="modal fade"
  id="modalAlimetacion"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mi Alimentación</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">
                <div class="d-flex justify-content-start">
                    <div class="form-check p-2 ms-3">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckCheckedDisabled"
                        checked
                        disabled
                        />
                    </div>
                    <p class="lead mb-1">
                        <small>
                            Desayuno
                        </small>
                    </p>
                </div>
            </li>
            <li class="list-group-item list-group-item-success">
                <div class="d-flex justify-content-start">
                    <div class="form-check p-2 ms-3">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckCheckedDisabled"
                        />
                    </div>
                    <p class="lead mb-1">
                        <small>
                            Almuerzo
                        </small>
                    </p>
                </div>
            </li>
            <li class="list-group-item list-group-item-success">
                <div class="d-flex justify-content-start">
                    <div class="form-check p-2 ms-3">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckCheckedDisabled"
                        />
                    </div>
                    <p class="lead mb-1">
                        <small>
                            Comida
                        </small>
                    </p>
                </div>
            </li>
            <li class="list-group-item list-group-item-success">
                <div class="d-flex justify-content-start">
                    <div class="form-check p-2 ms-3">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckCheckedDisabled"
                        />
                    </div>
                    <p class="lead mb-1">
                        <small>
                            Merienda
                        </small>
                    </p>
                </div>
            </li>    
            <li class="list-group-item list-group-item-success">
                <div class="d-flex justify-content-start">
                    <div class="form-check p-2 ms-3">
                        <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckCheckedDisabled"
                        />
                    </div>
                    <p class="lead mb-1">
                        <small>
                            Cena
                        </small>
                    </p>
                </div>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Hidratación-->
<div
  class="modal fade"
  id="modalHidratacion"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mi hidratación</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Total de hoy: 1350ml</h5>
        <ul id="ul-hidratacion-modal" class="list-group">
            <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
            1 Ánfora
            <span class="badge bg-primary rounded-pill">600ml</span>
            </li>
            <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center">
            2 Vasos
            <span class="badge bg-primary rounded-pill">500ml</span>
            </li>
            <li class="list-group-item d-flex list-group-item-info justify-content-between align-items-center">
            1 Vaso
            <span class="badge bg-primary rounded-pill">250ml</span>
            </li>
        </ul>
        <div class="d-flex justify-content-end mt-2">
            <a
            class="btn btn-primary btn-floating"
            style="background-color: #ac2bac"
            role="button"
            onclick="agrega_li('ul-hidratacion-modal')"
            >
            <i class="fas fa-plus-circle"></i>
            </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function lanzaModal(id){
        var  idJQ = '#' + id;
        $(idJQ).modal('toggle');
    }

    function agrega_li(ul){
        var ul = document.getElementById(ul);
        var li = document.createElement("li");
        li.classList = "list-group-item"
        li.innerHTML = '<section class="d-flex justify-content-between align-items-center">  <div> <select id="select-mes" class="form-select mb-3 mt-3"> <option value="0" selected>Vaso</option> <option value="0">Ánfora</option> </select> </div>   <div class="form-outline"> <input type="number" id="form1" class="form-control" /> <label class="form-label" for="form1">Ingresa los mililitros</label> </div>   </section>'
        ul.appendChild(li)
    }

    function redireccionaAlimentacion(){
        window.location.href = "/alimentacion";        
    }
</script>
{% endblock script %}
